#topNav {
  font-size: 30px;
  overflow: hidden;
  background-color: rgb(40, 173, 230);
  /* position: fixed; */
  display: flex;
  justify-content: center;
  top: 0;
  margin-left: -75px;
  margin-top: -40px;
  width: 110%;
}

h2 {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.dealer {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.dealer-hand {
  border-style: dashed;
  border: darkblue;
}
#refresh-div {
  margin-top: 0px;
}
#refresh-button {
  font-size: 15px;
  width: 120px;
  background-color: rgb(172, 132, 132);
}
#refresh-button:hover {
  font-size: 15px;
  width: 120px;
  background-color: rgb(245, 206, 206);
}
#count {
  font: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
#counter-div {
  position: absolute;
  right: 100px
}
#dealer-card {
  display: flex;
  justify-content: center;
}
#player-card {
  display: flex;
  justify-content: center;
}
.player {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.player-bust {
  font-size: 200px;
  color: red;
  background-color: red;
}

.options-buttons {
  display: flex;
  justify-content: center;
}

#hit {
  border-radius: 20px;
  border-color: darkblue;
  background-color: green;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  outline: none;
}

#hit:hover {
  border-radius: 20px;
  border-color: darkblue;
  background-color: rgb(81, 181, 81);
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  outline: none;
}


#stand {
  border-color: darkblue;
  background-color: red;
  border-radius: 20px;
  margin: 10px;
  font-size: 20px;
  outline: none;
}

#stand:hover {
  border-color: darkblue;
  background-color: rgb(220, 101, 101);
  border-radius: 20px;
  margin: 10px;
  font-size: 20px;
  outline: none;
}

#betting {
  display: flex;
  justify-content: center;
}

#cash {
  display: flex;
  justify-content: center;
}

#bank-amount {
  padding: 10px;
}

#chips {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
#one {
  font-size: 15px;
  background-color:#fff;
  border:3px solid rgb(18, 1, 1);    
  height:50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:50px;
  outline: none;
  margin-right: 10px;
}
#one:hover {
  font-size: 15px;
  background-color:rgb(171, 117, 117);
  border:3px solid rgb(18, 1, 1);    
  height:50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:50px;
  outline: none;
  margin-right: 10px;
}
#five {
  margin-right: 10px;
  font-size: 15px;
  background-color:rgb(203, 56, 56);
  border:3px solid rgb(18, 1, 1);    
  height:50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:50px;
  outline: none;
}
#five:hover {
  margin-right: 10px;
  font-size: 15px;
  background-color:rgb(218, 134, 134);
  border:3px solid rgb(18, 1, 1);    
  height:50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:50px;
  outline: none;
}
#two-five {
  margin-right: 10px;
  font-size: 15px;
  background-color:rgb(30, 174, 44);
  border:3px solid rgb(18, 1, 1);    
  height:50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:50px;
  outline: none;
}
#two-five:hover {
  margin-right: 10px;
  font-size: 15px;
  background-color:rgb(124, 177, 129);
  border:3px solid rgb(18, 1, 1);    
  height:50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:50px;
  outline: none;
}
#hundred {
  margin-right: 10px;
  font-size: 15px;
  color: #fff;
  background-color:rgb(21, 5, 5);
  border:3px solid rgb(18, 1, 1);    
  height:50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:50px;
  outline: none;
}
#hundred:hover {
  margin-right: 10px;
  font-size: 15px;
  color: #fff;
  background-color:rgb(72, 62, 62);
  border:3px solid rgb(18, 1, 1);    
  height:50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:50px;
  outline: none;
}
#five-hundred {
  margin-right: 10px;
  font-size: 15px;
  background-color:rgb(150, 63, 213);
  border:3px solid rgb(18, 1, 1);    
  height:50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:50px;
  outline: none;
}
#five-hundred:hover {
  margin-right: 10px;
  font-size: 15px;
  background-color:rgb(153, 122, 176);
  border:3px solid rgb(18, 1, 1);    
  height:50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:50px;
  outline: none;
}

/* #deal {
  display: flex;
  justify-content: center;
} */
.deal-button-div {
  display: flex;
  justify-content: center;
}
.deal-button {
  padding: 20px;
  font-size: 30px;
  border-radius: 20px;
  background-color: brown;
  outline: 30px blue;
}
.deal-button:hover {
  padding: 20px;
  font-size: 30px;
  border-radius: 20px;
  background-color: rgb(203, 100, 100);

}
body {
  margin-top: 40px;
  background-color: aqua;
}

.bet-banker {
  background-color: red;
}
#bet-player {
  background-color: blue;
}

table, th, td {
  border: 1px solid black;
}
#simulation-div-tot {
  padding: 15px;
  margin-top: 10px;
  position: absolute;
  border: 3px black solid;
  justify-content: center;
  background-color: rgb(78, 235, 235);
  font-style: italic;
  font-size: 30px;
}
#counter-div {
  padding: 15px;
  margin-top: 20px;
  margin-right: -70px;
  /* margin-top: 20px; */
  border: 3px black solid;
  justify-content: center;
  background-color: rgb(78, 235, 235);
}



